/*
Description: Full CSS Stylesheet
Author: Anthony Maseda
*/


/* Extra Reset
----------------------------------------------------------------------------- */

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group > * { float: left; min-height: 1px; }
.group.right > * { float: right; }


/* Global
----------------------------------------------------------------------------- */

html {
	background: rgba(57, 1, 23, 1);
}

body {
	margin: 0 auto;
	line-height: 1.7;
  color: #FFFFFF;
  font-family: 'Quicksand';
	background: -webkit-gradient(linear, 46% 37%, 64% 73%, from(rgba(23, 1, 23, 1)), to(rgba(57, 1, 23, 1)))
}

div {
	transition: all ease-in-out 0.1s;
	-webkit-transition: all ease-in-out 0.1s;
	-moz-transition: all ease-in-out 0.1s;
}

a {
  text-decoration: none;
  color: #a1c5c3;
	cursor: pointer;
}

a:hover {
  color: inherit;
}

li {
  list-style-type: none;
}

h1 {font-size: 42px; margin-bottom: 18px;}
h2 {font-size: 36px; margin-top:18px; margin-bottom: 18px;}
h3 {font-size: 30px; margin-bottom: 12px;}
h4 {font-size: 24px; margin-bottom: 12px;}
h5 {font-size: 21px; margin-bottom: 12px;}
h6 {font-size: 18px; margin-top:12px; margin-bottom: 12px;}
p {font-size: 18px; margin-bottom: 12px;}
span {font-size:18px; margin-bottom: 12px;}


/* Forms
----------------------------------------------------------------------------- */

input, input[type="password"], input[type="search"] {
  -webkit-appearance: textfield;
  width: 600px;
  height: 40px;
	padding: 5px;
  margin-top: 2px;
	margin-bottom: 20px;
  cursor: auto;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: 1px solid rgba(23, 1, 23, 1);
  border-radius: 3px;
	color: rgba(23, 1, 23, 1);
	background: #FFFFFF;
}

input[type=submit] {
  -webkit-border-radius: 0;
	width: 240px;
	cursor: pointer;
}
input[type=submit]:hover {
	width: 240px;
	overflow: hidden;
  outline:none;
	border: 1px solid #FFFFFF;
  -webkit-border-radius: 0;
	color: #FFFFFF;
	background: -webkit-gradient(linear, 46% 37%, 64% 73%, from(rgba(23, 1, 23, 1)), to(rgba(57, 1, 23, 1)))
}

input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled
{
  opacity: 0.5;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  width: 14px;
	height: 14px;
	background-color: #FFFFFF;
}

input[type=file] {
  -webkit-appearance: file;
	width: 90px;
  height: 30px;
  margin: auto;
  color: #FFFFFF;
	background-color: rgba(0,0,0,0);
}

.radio, .checkbox {
  min-height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
	color: #a1c5c3;
}

textarea {
  -webkit-appearance: textarea;
	-webkit-border-radius: 0;
  width: 600px;
  height: 240px;
	padding: 10px;
  margin-top: 2px;
	margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  border:none;
  outline:none;
  color: rgba(23, 1, 23, 1);
	background: #FFFFFF;
}

div.wpcf7 .ajax-loader {
	width: 0px !important;
	margin: 0px !important;
}

.notice, .alert, #error_explanation {
	color: #ffda2a;
}


/* Icons
----------------------------------------------------------------------------- */

.icon {
  position: relative;
  text-decoration: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 12px;
}

ul.icons li .icon:before {
  font-size: 24px;
}
ul.icons li .icon {
	color: #FFFFFF;
}

.icons br {
  display: none;
}

ul.icons li a {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

ul.icons li a:hover, ul.icons li .icon:hover {
  text-decoration: none;
  background: none;
	color: #a1c5c3;
}


/* Content
----------------------------------------------------------------------------- */

.contact {
  width: 100%;
  text-align: center;
  margin: auto;
}
.contact p, .contact h1, .contact h4, .thumbs p {
  text-align: center;
  width: 60%;
  padding: 2px 0px 2px 0px;
  margin: 0 auto;
}
.contact-content {
	margin-right: 0;
}


.headline {
	position: relative;
	text-align: center;
}
.headline img {
  width: 1500px;
  height: 500px;
}
.headline h1 {
	/* color: #FFFFFF; */
  font-size: 60px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 700;
  letter-spacing: 1px;
	word-spacing: 12px;
}
.headline p {
  font-size: 18px;
	font-weight: 500;
  line-height: 150%;
}
.headline-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 1500px;
  height: 500px;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: -webkit-grabbing;
	cursor: none;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.4);
}
.headline-overlay:hover {
	color: rgba(0, 0, 0, 0);
	background: rgba(0, 0, 0, 0);
}

.wrapper {
  width: 91%;
  margin: 0 auto;
}

.disabled {
  opacity: 0.5;
}
.disabled:hover {
  opacity: 1.0;
}
.page-theme-button {}
.page-theme-button a {
  text-align: center;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  width: fit-content;
  min-width: 30px;
  margin: 6px auto;
  padding: 12px;
  border: 1px solid rgba(57, 1, 23, 1);
  border-radius: 16.666%;
  color: rgba(57, 1, 23, 1);
  background: #FFFFFF;
}

.content-title ul, .headline ul {
  list-style: none;
  padding-left: 0;
}
.content-title ul li, .headline ul li {
  text-transform: uppercase;
  display: inline-flex;
  margin: 12px 12px;
}

.thesis {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 16px;
}
.thesis-pic {}
.thesis-pic img {
	width: 240px;
	height: 240px;
	border-radius: 6px 24px 6px;
	-webkit-box-shadow: 3px 3px 3px 3px;
     -moz-box-shadow: 3px 3px 3px 3px;
          box-shadow: 3px 3px 3px 3px;
	-webkit-filter: saturate(110%);
	   -moz-filter: saturate(110%);
				  filter: saturate(110%);
}
.thesis-pic a:hover {
	-webkit-filter: saturate(110%);
	   -moz-filter: saturate(110%);
				  filter: saturate(110%);
	-webkit-animation: mymove 5s;  /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
	animation: mymove 5s;
	animation-iteration-count: 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {filter: saturate(10%);}
  to {filter: saturate(110%);}
}
/* Standard syntax */
@keyframes mymove {
	from {filter: saturate(10%);}
  to {filter: saturate(110%);}
}

.thesis-statement {
	float: right;
	width: 75.5%;
	min-height: 96px;
	z-index: 1;
	margin-top: 48px;
}
.thesis-statement p {font-size: 18px;}

.content {
  width: 71%;
  float: left;
  padding: 1em;
}
.content-top {
  border-bottom: none;
  display: block;
}
.content-container {margin-top: 32px;}

.content-bigscreen {
	display: block;
}
.content-mobile {
	display: none;
}

.content-wormholes {
	position: absolute;
	right: 0;
  /* float: right; */
  width: 22.5%;
	margin-bottom: 7%;
	text-align: left;
}
.contact .content-wormholes {
	margin-right: 0;
}
a.wormholes:hover, a.wormholes li:hover {
	text-decoration: none;
	background-color: rgba(255,255,255,0.15);
	-moz-transition: color ease-in-out .1s, background-color ease-in-out .1s;
	-webkit-transition: color ease-in-out .1s, background-color ease-in-out .1s;
	transition: color ease-in-out .1s, background-color ease-in-out .1s;
}
.content-wormholes a {
  text-decoration: none;
  color: #FFFFFF;
}
.content-wormholes h5 {
  font-weight: 500;
  font-size: 18px;
}
.content-wormholes h6 {
	font-size: 14px;
}
.content-wormholes ul {}
.content-wormholes li {
  list-style-type: none;
  margin: 9px;
  padding: 9px;
  display: block;
  background-color: rgba(255,255,255,0.1);
}

.content-video {
  width: 98%;
  margin: 0 auto;
  text-align: center;
}
.content-video h2 {
	margin-top: 30px;
}
.content-video p {
	margin: auto;
  width: 560px;
  font-size: 18px;
}
.content-video iframe {
	width: 840px;
	height: 510px;
}

.content-frames {
  width: 98%;
  margin: 0 auto;
  text-align: center;
	clear: both;
}
.content-frames iframe, .content-frames object {
	width: 980px;
	height: 595px;
}
.content-frames h2, .content-video h2, .thumbs h2 {
  margin-top: 72px;
}
.content-frames p {
	margin: 0 auto;
	width: 980px;
  font-size: 18px;
}


.thumbs {
	overflow:hidden;
	padding: 10px 0px 10px 0px;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}
.thumbs-inner {
  width: 80%;
	max-width: 1800px;
	margin: auto;
  text-align: center;
}
.thumbs-inner ul {
  list-style: none;
  padding-left: 0;
  /* font-size: 0; */
}
.thumbs-inner ul li {
  text-transform: uppercase;
  vertical-align: text-top;
  display: inline-block;
  width: 20%;
  margin: 12px 6px;
  padding: 0px;
}
.thumbs-inner ul li a {
  text-decoration: none;
  cursor: zoom-in;
}
.thumbs-inner ul li img, .thumbs-inner ul li iframe {
  width: 100%;
	height: auto;
	-webkit-filter: saturate(150%);
	-moz-filter: saturate(150%);
	filter: saturate(150%);
}
.thumbs-inner ul li img:hover {
	background: none;
	-webkit-filter: hue-rotate(330deg);
	-moz-filter: hue-rotate(330deg);
	filter: hue-rotate(330deg);
  /* -webkit-animation: cssAnimation 4.5s 1 ease;
  -moz-animation: cssAnimation 4.5s 1 ease;
  -o-animation: cssAnimation 4.5s 1 ease;
  }
  @-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -webkit-transform: rotate(4deg) scale(1.2) skew(3deg) translate(10px); }
  }
  @-moz-keyframes cssAnimation {
  from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -moz-transform: rotate(4deg) scale(1.2) skew(3deg) translate(10px); }
  }
  @-o-keyframes cssAnimation {
  from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -o-transform: rotate(4deg) scale(1.2) skew(3deg) translate(10px); } */
}
.thumbs-inner ul li h4 {
  color: #fff;
  width: 90%;
	height: auto;
  text-align: left;
  font-size: 18px;
  margin: 3px 0px;
}
.thumbs-inner ul li h5 {
  color: #fff;
  width: 90%;
	height: auto;
  text-align: left;
  font-size: 14px;
}
.thumbs-inner ul li h5:hover, .thumbs-inner ul li h4:hover {
	text-decoration: none;
  cursor: zoom-in;
	color: #a1c5c3;
}


/* Lightbox
----------------------------------------------------------------------------- */

.lightbox {
	display: none;
	position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
  z-index: 1;
	background: rgba(0,0,0,0.9);
}
.lightbox img {
  width: 100%;
  /* margin-top: 30px; */
  z-index: 2;
}
.lightbox-image-wrapper {
  position: relative;
  display: block;
  width: 80% !important;
	max-width: 624px;
  height: auto !important;
  /* max-height: 688px; */
  margin: auto;
  padding-bottom: 60px;
}
.lightbox img {
	margin-top: 60px;
}
.lightbox span {
  color: rgba(0,0,0,0.9);
  position: absolute;
  top: 48px;
  right: 48px;
  display: block;
  font-size: 30px;
  font-weight: 900;
  z-index: 3;
}
.lightbox p {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 500;
  z-index: 3;
}
a.lightbox {
  text-decoration: none;
}
.lightbox:target {
	outline: none; /* Remove default browser outline */
	display: block;
	cursor: zoom-out;
}


/* Footer
----------------------------------------------------------------------------- */

.social {
	left: 50%;
	text-align: center;
	margin-top: 36px;
	padding-bottom: 18px;
}
.social p {
	font-size: 12px;
}
.social iframe {
	width: 300px;
	height: 150px;
}


/* THE END
----------------------------------------------------------------------------- */
