/*------------------------------------------------------------------------------
 Media Queries CSS file for graffiti theme
----------------------------------------------------------------------------- */


/* min-width */
/* Media Query
----------------------------------------------------------------------------- */

@media (min-width: 1510px) {
  .site-header {
    width: 80%;
  }
}


/* max-width */
/* Media Query
----------------------------------------------------------------------------- */

@media all and (max-width: 1960px) {
	.contact {
	  padding: 0px 0px 6px 0px;
	}
	.contact .content-wormholes {
		margin-right: 90px;
	}
	.thesis {
    width: 100%
  }
}

@media all and (max-width: 1630px) {
  .site-header .menu-primary-container .menu li {
  	margin: 0;
  }
  .headline {
  	height: 510px;
  }
  .content-wormholes {
  	right: 6px;
    width: 25%;
  }
}
@media all and (max-width: 1440px) {
  .headline {
  	height: 450px;
  }
  .headline-overlay h1 {
  	font-size: 48px;
  }
	.content-video iframe, .content-video object, .content-frames iframe, .content-frames object {
		width: 700px;
    height: 425px;
	}
}

@media screen and (max-width: 1280px) {
	.site-header .menu-primary-container {
    font-size: 18px;
  }
  .headline {
  	height: 400px;
  }
  .headline-overlay h1 {
  	font-size: 36px;
  }
  .thesis {
    margin: 0 auto;
  }
  .thesis-statement {
    width: 100%;
  }
  .thesis-pic {
    display: block;
    width: 100%;
    text-align: center;
    margin: 16px 0px;
  }
  .thesis-pic img, .thesis-pic svg {
  	margin-top: 18px;
  }
  .content {
    width: 94%;
    float: left;
    padding: 3%;
  }
  /* .content-wormholes {
		position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
  }
	.content-wormholes li {
    margin: 48px 18px;
		background: -webkit-gradient(linear, 46% 37%, 64% 73%, from(rgba(23, 1, 23, 1)), to(rgba(46, 1, 23, 1)));
	}
	.contact .content-wormholes {
		margin-right: 0;
	} */
	.content-bigscreen {
		display: none;
	}
	.contact-content {
		margin-right: 0;
	}
}

@media screen and (max-width: 1024px) {
  .content-mobile {
		display: block;
	}
  input, input[type="password"], input[type="search"], textarea {
	  width: 480px;
	}
  .headline {
  	height: 375px;
  }
	.thumbs h2 {
    margin-top: 0px;
	}
	.thumbs-inner {
    width: 90%;
    margin: auto;
  }
  .thumbs-inner ul li {
    flex: 1 0 33.33333%;
    max-width: calc(33.33333% - 10px);
  }
  .thumbs-inner ul li h4 {
    font-size: 15px;
  }
  .thumbs-inner ul li h5 {
    font-size: 12px;
  }
  .lightbox span {
    top: 56px;
    right: 40px;
    font-size: 24px;
    font-weight: 600;
  }
  .lightbox p {
    font-size: 12px;
  }
	.site-header .site-header-menus { display: none; }
	.site-header .menu-primary-container .menu li a {
	  display: block;
	  margin: 0px;
	}
	.site-header .dimmers {
    margin-right: 0px;
	}
  .site-header .menu-global-container { display: block; }
  .hamburger { display: block; }
	.hamburger input:checked + label span {
    top: 18px;
	}
	.site-header {
    padding: 0;
	}
}

@media screen and (max-width: 770px) {
	.content-video iframe, .content-frames iframe, .content-frames object {
		width: 560px;
    height: 340px;
	}
  .contact {
    padding: 0px 0px 24px 0px;
  }
	.contact p {
    text-align: center;
    width: 90%;
    padding: 12px 0px 12px 0px;
    margin: 0 auto;
  }
  .headline {
  	height: 300px;
  }
}

@media screen and (max-width: 640px) {
  .headline {
  	height: 240px;
  }
  .headline-overlay h1 {
  	font-size: 18px;
  }
  .hamburger input + label {
		right: 30px;
	}
	textarea {
	  width: 240px;
	  height: 120px;
	  font-size: 18px;
	}
	input, input[type="password"], input[type="search"] {
		width: 240px;
	  height: 30px;
	  font-size: 18px;
	}
  .thesis-pic {
    display: block;
    width: 100%;
    text-align: center;
    margin: 16px 0px;
  }
	.thesis-pic img, .thesis-pic svg {
		width: 120px;
		height: 120px;
		/* border-radius: 50%; */
  }
	.thesis-statement {
		width: 100%;
		margin: 0 auto;
	}
	.content {
		width: 94%;
		float: left;
		padding: 3%;
	}
	.content-wormholes {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.content-video iframe, .content-frames iframe, .content-frames object {
		width: 420px;
		height: 255px;
	}
	.content-video p {
		width: 420px;
	  font-size: 15px;
	}
  .thumbs-inner ul li {
    flex: 1 0 50%;
  	max-width: calc(50% - 6px);
  }
}

@media screen and (max-width: 480px) {
  .headline {
  	height: 200px;
  }
	.thesis-statement p {
		font-size: 14px;
	}
 .social iframe {
    width: 200px;
    height: 110px;
  }
	.content-video h2 {
		margin-top: 10px;
	}
	/* .thumbs-inner ul li {
	  margin: 18px 0px !important;
	} */
	.content-wormholes a {
	  font-size: 18px;
	}
}

@media screen and (max-width: 440px) {
  .headline {
  	height: 160px;
  }
	.content-video iframe, .content-frames iframe, .content-frames object {
		width: 350px;
		height: 212px;
	}
	.content-video p {
		width: 350px;
	}
}

@media screen and (max-width: 390px) {
	.contact p, .contact h1, .contact h4 {
		width: 100%;
	}
	.content-video p {
		width: 280px;
	}
	.content-video iframe, .content-frames iframe, .content-frames object {
		width: 280px;
		height: 191px;
	}
	ul.icons li {
    padding: 7px;
	}
	.thumbs-inner ul li h4 {
    font-size: 12px;
  }
}


/* End
----------------------------------------------------------------------------- */
